:host {
  display: block;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.tag {
  white-space: nowrap;
}

.tag-button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: hsl(0deg 0% 95%);
  border-radius: 14px;
}