<div class="md-editor">
    <div class="tabs-container">
      <button class="button tab-button"
              [class.is-active]="selectedTabName === 'RAW'"
              (click)="onClickTabButton('RAW')"
              [disabled]="isDisabled">Контент</button>
  
      <button class="button tab-button"
              [class.is-active]="selectedTabName === 'RESULT'"
              (click)="onClickTabButton('RESULT')"
              [disabled]="isDisabled">Результат</button>
    </div>
  
    <textarea *ngIf="selectedTabName === 'RAW'"
              class="field-input input" id="description"
              (focus)="onTouch()"

              [ngModel]="editorValue"
              (ngModelChange)="onChangeEditorValue($event)"
              ></textarea>
  
    <div *ngIf="selectedTabName === 'RESULT'"
         class="result"
         [innerHTML]="convertMarkdownToHtml(editorValue)"></div>
</div>