:host {
  display: block;
}

.star-button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.star-button .icon-image {
  width: 3rem;
  height: 3rem;
}

.star-button.is-selected {
  color: hsl(45deg 100% 51%);
}